<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">








<body>
	<div th:fragment = "hero">
		<div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="hero__text">
                    <h2>Quality is not only our standard.</h2>
                    <a href="about.html" class="primary-btn">Learn more</a>
                    <div class="hero__social">
                        <a href="https://www.facebook.com/Reliable-Helpers-102035432651446"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
        
	</div>
</body>
</html>